.formWrapper{
    max-width: 300px;
    min-width: 250px;
    border: 6px double grey;
    border-radius: 8px;
    background-color: lightgrey;
    height: 150px;
    padding: 16px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    animation: scaling 1s ease-in-out alternate;
    .inputWrapper{
        input{
            box-shadow: 0 0 5px #000;
            border-radius: 4px;
            &:focus ,&:active{
                border: 1px solid blue;
            }
        }
    }
        .errorText{
        color: rgb(255, 43, 43);
        line-height: 16px;
        padding: 4px;
        font-size: 12px;
    }
    button{
        margin-top: 8px;
            box-shadow: 0 0 5px #000;
            padding: 4px;
        width: 70px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        transition: 0.2s;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        &:hover{
            transform: scale(1.05);
        }
        &:hover, :active{
            background-color: rgb(46, 93, 247);
        }
    }

}
@keyframes scaling{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}