.failedContent{
    min-width: 150px;
    min-height: 100px;
    max-width: 250px;
    max-height: 20px;
    height: 100%;
    width: 100%;
    background-color: darkred;
    text-align: center;
    align-content: center;
    padding: 4px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    border-radius: 4px;
    margin: clamp(10px, 10%, 50%) auto;
    p[role="icon"]{
        background-color: black;
        width: min-content;
        text-align: center;
        margin: 0 auto;
        padding: 4px 10px;
        border-radius: 50%;
        animation: pulse 1s ease-in-out alternate-reverse infinite;
    }
}
@keyframes pulse {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}