.sectionField {
  border: 1px solid grey;
  min-width: 100px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 0 5px grey;
  border-radius: 4px;
}

.headline {
  padding: 4px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.testContainer{
  width: 100%;
}