.sectionField {
  border: 1px solid grey;
  min-width: 100px;
  max-width: 800px;
  margin: 50px 4px;
  box-shadow: 0 0 5px grey;
  border-radius: 4px;
}
.textStyle {
  padding: 4px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.listWrapper {
  font-size: 14px;
  margin: 8px;
  padding: 4px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
    li {
      width: 300px;
      height: 200px;
      border: 1px solid black;
    }
  }
}
