.appWrapper{
    display: flex;

    .appNav{
        width: 200px;
        background-color: lightblue;
        color: darkslategrey;
        font-size: 14px;
        min-height: 100dvh;
        padding: 8px;
        list-style: none;
        li,a{
            color: #000;
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                color: orangered;
            }
        }
    }

    .contentWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: darkslategray;
        .contentHeader{
            background-color: aquamarine;
            height: 50px;
            text-align: center;
            font-size: 20px;
            align-content: center;
        }
        .contentEntries{
            flex-grow: 2;
        }
    }
}