.appWrapper{
    display: flex;

    .appNav{
        width: 200px;
        background-color: lightblue;
        color: darkslategrey;
        font-size: 14px;
        min-height: 100dvh;
        padding: 8px;
    }

    .contentWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        .contentHeader{
            background-color: aqua;
            height: 50px;
            text-align: center;
            font-size: 20px;
            align-content: center;
        }
        .contentEntries{
            flex-grow: 2;
            border: 1px solid red;
        }
    }
}