.appWrapper{
    display: flex;

    .appNav{
        width: 200px;
        background: linear-gradient(to right ,rgb(5, 0, 19) 10px, rgb(0, 224, 240));
        font-size: 14px;
        min-height: 100dvh;
        padding: 8px;
        list-style: none;
        li,a{
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: 0.2s;
            &:hover{
                color: orangered;
            }
        }
    }

    .contentWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: darkslategray;
        .contentHeader{
            background-color: rgb(0, 224, 240);
            height: 50px;
            text-align: center;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
        }
        .contentEntries{
            flex-grow: 2;
        }
    }
}