.textStyle {
  padding: 4px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.listWrapper {
  font-size: 14px;
  margin: 8px;
  padding: 4px;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
    li {
      width: 300px;
      height: 200px;
      /* border: 1px solid black; */
      background-color: lightgray;
      border-radius: 8px;
      padding: 8px;
      text-align: center;
      align-content: center;
      perspective: 10px;
      box-shadow: 0 0 5px darkgrey;
      transition: 0.5s;
      &:hover{
        transform: scale(1.05);
      }
      a{
        cursor: pointer;
        color: #000;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}